.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background-color:#000;
  color: #fff;
  font-size: 30px;
}

.input{
  background-color: transparent;
  border: none;
  border-style: none;
  height: 80px;
  width: 500px;
  padding: 10px;
  color:#fff;
}