table {
display: flex;
flex-direction: column;

}
table thead tr{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    color: white;
    padding: 10px 30px;
    background-color: darkblue;
}
table tbody tr td {
    justify-content:space-between;
    align-items:stretch ;
    color: #000;
    padding: 10px 30px;
    
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}

